<configuration>
<property>
	<name>dfs.namenode.name.dir</name>
	<value>{{ namenode_name_dir }}</value>
</property>
<property>
	<name>dfs.blocksize</name>
	<value>268435456</value>
</property>
<property>
	<name>dfs.namenode.handler.count</name>
	<value>100</value>
</property>
</configuration>
